<small>subs#index</small><br>

<%= render 'shared/login_status' %>

<h1>All Subs</h1>

<% if logged_in? %>
  <br><a href="<%= new_sub_url %>">Add a new sub</a><br>
<% end %>

<ul>

  <% @subs.each do |sub| %>
  <li><a href="<%= sub_url(sub.id) %>"><%= sub.title %></a></li>
  <% end %>

</ul>
