<header></header>

<section id="auth"></section>

<section id="sidebar">SIDEBAR</section>

<section id="main"></section>

<br><br>

<div>
  <small><a href="<%= railsroot_url %>">To old Rails version..</a></small>
</div>
