<header></header>

<section id="auth"></section>

<section id="main"></section>

<section id="sidebar"></section>

<div>
  <small><a href="<%= railsroot_url %>">To old Rails version..</a></small>
</div>
