<header>
  <a href="#">To ROOT.</a>
  <br>
  <a href="#subzeddits">To Subzeddits Index</a>
</header>

<section id="auth"></section>

<section id="main"></section>

<section id="sidebar"></section>

<div>
  <small><a href="<%= railsroot_url %>">To old Rails version..</a></small>
</div>
