html, body, header, footer, section, article, div,
strong, a, img, p, h1, h2, h3, time, ul, li, small,
form, label, input, textarea, button, nav, span, figure {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  box-sizing: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  color: inherit;
  background: transparent;
}

.hidden {
  display: none;
}

.group:after {
  content: "";
  clear: both;
  display: block;
}

ul {
  list-style: none;
}

body {
  font: normal x-small verdana,arial,helvetica,sans-serif;
}

a {
  color: blue;
  cursor: pointer;
}

#main {
  padding-left: 10px;
}

.main-container {

}

.error {
  color: red;
  font-style: italic;
  font-weight: normal;
}

.btn {
  cursor: pointer;
  padding: 2px 6px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 1px 1px gray;
}

.btn:active {
  color: white;
  background: #37d;
}

/*.big-btn-outer {
  display: block;
}*/

.big-btn {
  position: relative;
  display: inline-block;
}

.big-btn-body {
  cursor: pointer;
  display: inline-block;
  color: #369;
  text-align: center;
  border: 1px solid #c4dbf1;
  background-image: image-url("sprite-zeddit.png");
  background-position: 0px -278px;
  background-repeat: repeat;
  font-size: 150%;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 29px;
  height: 29px;
  padding: 0 20px 0 30px;
}

.big-btn:hover > .big-btn-body {
  color: white;
  background-position: 0px -243px;
}

.big-btn-nub {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: -23px;
  height: 31px;
  width: 24px;
  background: #ffffff none no-repeat scroll center left;
  background-image: image-url("sprite-zeddit.png");
  background-position: -30px -547px;
}

.big-btn:hover > .big-btn-nub {
  color: white;
  background-position: 0 -547px;
}
