.post {
  margin: 10px 0;
}

.post figure {
  float: left;
  margin: 0 7px;
}

.post figure small {
  text-align: center;
  color: #c6c6c6;
  display: block;
  font-weight: bold;
  font-size: small;
}

.post figure small.points-up {
  color: #FF8B60;
}

.post figure small.points-down {
  color: #9494FF;
}

.post > a {
  float: left;
  width: 70px;
  height: auto;
  margin-right: 5px;
}

.post strong {
  display: block;
  font-size: medium;
  margin-bottom: 1px;
}

.post > small.author-etc {
  color: #888;
  font-size: x-small;
  display: block;
}

.post > small.author-etc > a {
  color: #369;
}

#post-content {
  background: #fafafa;
  border: 1px solid #369;
  border-radius: 7px;
  display: inline-block;
  max-width: 500px;
  padding: 5px;
  margin-top: 5px;
  font-size: small;
}

#post-edit > form {
  display: inline;
}

#post-edit > form > input {
  display: block;
  width: 500px;
  margin: 5px 0;
}

#post-edit > form > textarea {
  display: block;
  width: 500px;
  height: 100px;
}

#post-edit > form > button {
  margin: 5px 0 0 104px;
}

#post-edit > button.edit-cancel {
  margin-bottom: 10px;
}

.post > small.comments-etc {
  display: block;
  margin: 5px 0 0 104px;
}

.post > small.comments-etc > a {
  font-weight: bold;
  color: #888;
  padding: 0 1px;
}

.post > h3 {
  font-size: 16px;
  font-weight: normal;
  margin: 10px 0;
  border-bottom: 1px dotted gray;
  padding-bottom: 3px;
}

.post > .new-comment-form textarea {
  margin-top: 20px;
  border: 1px solid;
  width: 500px;
  height: 100px;
  padding: 2px;
}

.post > .new-comment-form > .btn {
  display: block;
  margin-top: 5px;
}
