.sub-form > form > .backdrop > label {
  font-size: medium;
  font-weight: bold;
  color: blue;
}

.sub-form > form input, textarea {
  display: block;
  background: white;
  border: 1px solid gray;
  width: 100%;
  margin-top: 5px;
  color: black;
  font-size: small;
  font-weight: normal;
}

.sub-form > form textarea {
  min-height: 100px;
}

.sub-form > form {
  margin: 20px 0;
}
