.subscribe {
  background-image: image-url("sprite-zeddit.png");
  background-position: 0px 0px;
  background-repeat: repeat;
  border: 1px solid #444;
  border-radius: 3px;
  padding: 0 6px;
  color: white;
  font-weight: bold;
}

.subscribe.subbed {
  background-position: 0px -182px;
}

.sub-show > p {
  background: #fafafa;
  border: 1px solid #369;
  border-radius: 7px;
  display: block;
  padding: 5px;
  margin: 5px 0;
  font-size: small;
  max-width: 500px;
}

.sub-show > small {
  font-size: small;
}

#edit-sub, #delete-sub {
  display: block;
  margin: 10px 0;
}

#delete-sub {
  color: white;
  background: red;
}

#delete-sub:active {
  color: red;
  background: white;
}

#new-post {
  display: block;
  margin: 10px 0;
}

#new-subz {
  margin: 20px 0;
}

.subzeddit {
  margin-left: 40px;
}

.subzeddit > button {
  float: left;
}

.subzeddit > a {
  font-size: medium;
  display: inline-block;
  margin: -10px 0 0 5px;
}

.subzeddit > a:visited {
  color: #551a8b;
}

.subzeddit > p {
  background: #fafafa;
  border: 1px solid #369;
  border-radius: 7px;
  display: block;
  max-width: 500px;
  padding: 5px;
  margin: 5px 0 0 90px;
  font-size: small;
}

.subzeddit > small {
  display: inline-block;
  margin: 0 0 10px 90px;
  color: #888;
}
