.vote {
  display: block;
  cursor: pointer;
  margin-top: 2px;
  margin-left: auto;
  margin-right: auto;
  height: 14px;
  width: 15px;
}

.vote-up {
  background-image: image-url("sprite-zeddit.png");
  background-position: -42px -818px;
  background-repeat: no-repeat;
}

.vote-up.vote-on {
  background-image: image-url("sprite-zeddit.png");
  background-position: -63px -818px;
  background-repeat: no-repeat;
}

.vote-down {
  background-image: image-url("sprite-zeddit.png");
  background-position: 0 -818px;
  background-repeat: no-repeat;
}

.vote-down.vote-on {
  background-image: image-url("sprite-zeddit.png");
  background-position: -21px -818px;
  background-repeat: no-repeat;
}
