<a id="my-subzeddits" href="javascript:void(0)">MY SUBZEDDITS</a>
<ul class="hidden">
  <% window.currentUser.subscriptions.each(function (subscrip) { %>
    <li>
      <a href="<%= "#z/" + subscrip.get("sub_title") %>">
        <%= subscrip.escape("sub_title") %>
      </a>
    </li>
  <% }); %>
</ul>
