<a id="my-subzeddits" href="javascript:void(0)">MY SUBZEDDITS</a>
<ul class="hidden">
  <% window.currentUser.subzeddits.each(function (sub) { %>
    <li>
      <a href="<%= "#z/" + sub.get("title") %>">
        <%= sub.escape("title") %>
      </a>
    </li>
  <% }); %>
</ul>
