<% var subTitle = (sub) ? sub.get("title") : ""; %>

<h3>submit to <%= (sub) ? subTitle : "zeddit" %></h3>

<ul id="errors"></ul>

<form id="new-post-form">
  <div class="backdrop">
    <label>title
      <input type="text" name="post[title]" required>
    </label>
  </div>

  <div class="backdrop">
    <label>url (prefix 'http://' etc is required)
      <input type="url" name="post[url]">
    </label>
  </div>

  <div class="backdrop">
    <label>text
      <textarea name="post[content]"></textarea>
    </label>
  </div>

  <div class="backdrop">
    <span>
      <label>choose a subzeddit
        <input id="title" type="text" name="post[sub_title]" value="<%= subTitle %>" required>
      </label>
      <ul id="dropdown"></ul>
    </span>
  </div>

  <button class="btn">Submit</button>
</form>
