<div id="new-subz">
  <div class="big-btn">
    <button class="big-btn-body">Create your own subzeddit</button>
    <span class="big-btn-nub"></span>
  </div>
</div>

<div id="new-post">
  <div class="big-btn">
    <button class="big-btn-body">Submit a new post</button>
    <span class="big-btn-nub"></span>
  </div>
</div>
