<% var subTitle = "#z/" + sub.escape("title") %>

<% if (window.currentUser.subscriptions.findWhere({ sub_id: sub.id })) { %>
  <button class="subscribe subbed">unsubscribe</button>
<% } else { %>
  <button class="subscribe">subscribe</button>
<% } %>

<a href="<%= subTitle %>"><%= subTitle %></a>
<br>
<%= sub.escape("description") %>
<br>
<small><%= sub.get("subbed_count") %> readers</small>
<br><br>
