<p><%= sub.escape("description") %></p>

<% if (window.currentUser.subscriptions.findWhere({ sub_id: sub.id })) { %>
  <button class="subscribe subbed">unsubscribe</button>
<% } else { %>
  <button class="subscribe">subscribe</button>
<% } %>
<small id="sub-readers"><%= sub.get("subbed_count") %> readers</small>

<% if (window.currentUser.id === sub.get("owner_id")) { %>
  <button class="btn" id="edit-sub">edit subzeddit</button>
  <button class="btn" id="delete-sub">delete subzeddit</button>
<% } %>

<div id="new-post">
  <div class="big-btn">
    <button class="big-btn-body">Submit a new post</button>
    <span class="big-btn-nub"></span>
  </div>
</div>
