<%
var buttonText, subTitle, subDescrip;
if (sub) {
  buttonText = "Edit Subzeddit: " + sub.escape("title");
  subTitle = sub.get("title");
  subDescrip = sub.get("description");
} else {
  buttonText = "Create Subzeddit";
  subTitle = "";
  subDescrip = "";
}
%>

<form id="sub-form">
  <div class="backdrop">
    <label>title
      <input type="text" name="sub[title]" value="<%= subTitle %>" required>
    </label>
  </div>

  <div class="backdrop">
    <label>description
      <textarea name="sub[description]" required><%= subDescrip %></textarea>
    </label>
  </div>

  <button class="btn"><%= buttonText %></button>
</form>
