<form id="<%= formId %>">
  <ul></ul>

  <label>Username<br>
    <input type="text" name="user[username]">
  </label>

  <br>

  <label>Password<br>
    <input type="password" name="user[password]">
  </label>

  <br>

  <button>Submit</button>
</form>
